* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #273c75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description {
    font-size: 2.5rem;
    color: white;
    padding-bottom: 1rem;
}

#temp {
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

#humidity {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    padding-top: 0.8rem;
}

.fa-tint {
    font-size: 3rem;
    color: skyblue;
}